 <nav class="navbar navbar-expand-lg navbar-dark color-empresarial">
    <div class="container-fluid ps-4">

<div class="btn-group dropend">
  <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-list"></i>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/reports">Reportes</a></li>
  </ul>
</div>
   
      <div class="collapse navbar-collapse div-ul" id="navbarNav">
        <ul class="navbar-nav">
        </ul>
      </div>
    </div>
  </nav>